<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Stackoverflow.Website</title>
    <link rel="stylesheet" href="~/lib/bootstrap-4.5.3-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/auth.css" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <header class="top-bar">
        <div class="brand">
            <span>Logo</span>&nbsp;<span>Stack overflow</span>
        </div>
        <div class="search">
            <form method="get" asp-controller="Search" asp-action="Index">
                <input class="search-input form-control" name="Query" placeholder="Type your question..." />
            </form>
        </div>
        <div class="auth">
            @if (User?.Identity?.IsAuthenticated ?? false)
            {
                <a asp-action="Logout" asp-controller="Account" class="btn btn-light">Logout</a>
            }
            else
            {
                <a asp-controller="Account" asp-action="Login" class="btn btn-light">Login</a>
                <a asp-controller="Account" asp-action="Signup" class="btn btn-light">Sign up</a>
            }
        </div>
    </header>
    <div class="content">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap-4.5.3-dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
